<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div class="content">
  <input
    id="name"
    type="text"
    placeholder="Enter name..."
    onkeydown="${(e: KeyboardEvent) => { if (e.key === 'Enter') this.saveBookmark(); }}" />

  <button tip="Add bookmark" onclick="${() => this.saveBookmark()}">
    <i class="fa-sm fa-solid fa-check"></i>
  </button>
</div>
