html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
}

body {
  --bx-shdw: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  --t-bkg: #ffffffbb;
  --text-color: #222;
  --text-color-grad1: #444;
  --text-color-grad2: #666;
  --bkg-color: rgb(255, 255, 255);
  --bkg-color-grad1: #ddd;
  --bkg-color-grad2: #bbb;
  --lnk: #0000ff;
  --lnk-visited: #800080;
  --lnk-hover: #0099ff;
  --lnk-active: #ff0000;
  --tst: #ff0000;
  --error-color: #bb0000;
  --svg-filter: none;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

girafe-theme-select {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9;
}

.switch3d {
  position: fixed;
  bottom: 4rem;
  left: 1rem;
  z-index: 8;
}

girafe-offline {
  position: fixed;
  bottom: 7rem;
  left: 1rem;
  z-index: 8;
}

girafe-search {
  position: fixed;
  top: 3rem;
  left: 1rem;
  right: 1rem;
  z-index: 20;
}

#content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

girafe-map {
  position: relative;
  width: 100%;
  height: 100%;
}
