.offline-download,
.offline-status {
  position: fixed;
  bottom: 7rem;
  left: 1rem;
  z-index: 8;
}

.progress-download {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: solid 1px #000;
  height: 0.5rem;
}

.offline-status {
  width: 1.4rem;
  height: 1.4rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4rem;
  border: solid 1px black;
  background-color: var(--bkg-color-grad1);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
