.hidden {
  display: none;
}

button.main {
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: #444;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

button.main:hover {
  background-color: #000;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  width: 51rem;
  margin-top: 0;
  overflow-y: auto;
  max-height: 70vh;
  scrollbar-width: thin;
  border: solid 1px #444;
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--bkg-color);
}

.theme,
.custom-theme,
.new-theme {
  align-content: flex-end;
  position: relative;
  width: 9rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0;
}

.theme > img,
.custom-theme > button > img,
.new-theme > img {
  width: 100%;
}

button.select {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button.select > img {
  height: 3rem;
  margin-bottom: 1rem;
}

button.delete {
  position: absolute;
  top: 0;
  right: 0;
}

button > span {
  display: inline-block;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
