.container {
  display: flex;
  flex-direction: column;
  height: 4rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  border-right: solid 1px var(--bkg-color);
  width: 4rem;
  height: 50%;
  text-align: center;
  background-color: transparent;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  vertical-align: middle;
  background-color: var(--bkg-color-grad2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 auto;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.3rem;
  width: 1.3rem;
  left: 4px;
  bottom: 0.1rem;
  background-color: var(--text-color-grad1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.checked .slider {
  background-color: #222;
}

.checked .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
